.Page{
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    color: #A6A0A0;
}
.pokeImage {
    height: 400px;
    width: 400px;
    
}
 
 .tipo{
    width: 100dvw;
   
 }

.tipos img {
    width: 80px;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text p{
    font-size: 16pt;
    padding: 1px;
    margin: 1px;
}
.selectPokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokebola{
    width: 250px;
}
.selectPokemon p{
    margin-bottom: 40px;
    font-size: 20pt;
    font-weight: bold;
}
.pokedexLogo{
    margin-top: 40px;
}
.loading img{
    width: 250px;
}
.loading h2{
    
    margin: 40px;
    font-size: 30pt;
}
.text{
    justify-content: center;
    align-items: center;
}
.text div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   height: 50px;
   width: 50px;
   border-radius: 100%;
   background-color: #A6A0A0;
   font-size: 18pt;
   color: #D9D9D9;
}
.text div:hover{
    background-color: #6A6464;
}
@media (max-width:1600px){
    .pokeImage{
        width: 300px;
        height: 300px;
    }
    .Page{
        display: flex;
  
    justify-content: center;
    align-items: center;
    color: #A6A0A0;
        width: 350px;
    }
    .pokebola{
        width: 200px;
    }
    .selectPokemon p{
        margin-bottom: 30px;
        font-size: 16pt;
    }
    .pokedexLogo{
        margin-top: 30px;
    }
    .loading img{
        width: 200px;
    }
    .loading h2{
        
        margin: 40px;
        font-size: 25pt;
    }
    .text div{
        margin-top: 10px;
   height: 30px;
   width: 30px;
   font-size: 12pt;
    }
    
}